body {
    font-family: 'Montserrat', sans-serif;
    background-color: #a7bbc7;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

p {
    color: #3f3d3d;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
    margin-bottom: 100px;
}

hr {
    color: #333;
    background-color: #333;
    border-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85%;
}
ul{
    margin-top:0px;
    margin-bottom: 10px;
}

.container-fluid {
    padding: 3% 7%;
}

/* Navigation Bar */


.navbar {
    padding: .2%;
    background-color: white;
}


.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    font-weight: 700;
    line-height: 1.5;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: bold;
    line-height: active;
    padding: 0 5px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 200;
}

/* Heading */



.des-fas {
    color: red;
    font-family: 'Pacifico', cursive;
}

.butn {
    margin-top: 1px;
}

.btn-link{
    display: inline-block;
}

.img-1 {
    margin-top: 200px;

}

.lis {
    font-family: 'Montserrat',sans-serif;
    font-size: medium;
    font-weight: 700;
    line-height: normal;
    color: gray;
    /* padding: 0 5px; */
    margin-left: 10px;
    /* margin-top: 400px; */

}

@media(max-width: 1028px) {

    .img-1 {
        width: 100%;
        position: static;
        margin-bottom: 50px;
        margin-top: 20%;
        transform: rotate(0);
    }

    .img-2 {
        width: 100%;
        position: static;
        transform: rotate(0);
    }
}

/* features section */
.bottom-fes{
    margin-top:  30px;
    width: 100%;
    text-align: center;
}
.butn1{
    /* width: 50px; */
    height: 200;
    margin-left: 40px;
}
#features{
    background-color: white;
    padding: 7% 15%;
}